/*背景色*/
body {
     background-image:linear-gradient(120deg,#e0c3fc 0%,#8ec5fc 100%) !important;
     background-attachment: fixed;
	 padding: 0px;
     margin: 0px;
}
/*隐藏 由 AList 驱动*/
 .hope-c-PJLV-igScBhH-css {
     border-radius:15px !important;
     background-color: white !important;
}
 .hope-c-PJLV-iekLzst-css a:nth-child(1) {
     display:none;
}
/*隐藏丨*/
 .hope-c-PJLV-iekLzst-css span {
     display:none;
}
/*头像圆角*/
 .hope-c-PJLV-iktMgsV-css {
     border-radius:7px;
}
/*头像旋转*/
 .hope-c-PJLV-iktMgsV-css:hover {
     transform:rotate(180deg);
     transition:all 0.6s;
}
.header{
     opacity: 0.2; /* 设置透明度为 50% */
	 background-image: linear-gradient(to right, #f8f9fa, #e9ecef);
  }
  
